:root{
    --bg-green: #181D21;
    --bg-green-gray: #22282D;
    --bg-blue: #14181B;
    --light-green:  #85F7C7;
    --white: #fff;
}
*{
    color: var(--white);
}

h2{
    margin-bottom: 50px;
    cursor: default;
}
p{
    cursor: default;
}
.container{
    padding: 0 12rem;
}
.italic{
    font-style: italic;
}

body{
    background-color: var(--bg-green);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0;
}
nav{
    width: 100%;
    display: grid;
    justify-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;

    list-style: none;
}
nav li{
    margin: 0 20px;
    padding: 4px 10px;
    cursor: pointer;
}
nav li:hover{
    background-color: var(--light-green);
    color: var(--bg-green);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
header .header_title h1{
    font-size: 3rem;
    color: var(--light-green);
    margin-bottom: 10px;
}
header .header_title .header_legend{
    font-weight: 500;
    font-size: 1.2rem;
}
header .header_photo{
    width: 700px;
}


.objetivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;
}
.objetivos .cards_objetivos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 200px;
    gap: 20px;
}
.objetivos .cards_objetivos .card_objetivos{
    background-color: var(--bg-green-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 28px;
}
.objetivos .cards_objetivos .card_objetivos h3{
    margin-bottom: 5px;
}
.objetivos .cards_objetivos .card_objetivos p{
    font-size: 14px;
    font-style: italic;
}


.opiniones{
    background-color: var(--bg-blue);
    padding-top: 50px;
    padding-bottom: 75px;
}
.opiniones .cards_opiniones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.opiniones .cards_opiniones .card_opiniones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--bg-green-gray);
    border-radius: 10px;
}
.opiniones .cards_opiniones .card_opiniones img{
    width: 50px;
    border-radius: 50%;
}
.opiniones .cards_opiniones .card_opiniones p{
    font-style: italic;
    padding-left: 20px;
}

.faqs{
    margin-top: 100px;
}
.faqs h2{
    margin-bottom: 18px;
}
.faqs .faqs_etiquetas{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
}
.faqs h3{
    margin-top: 50px;
}
.faqs .faqs_etiquetas span{
    padding: 10px;
    margin: 10px 10px 0 0;
    border-radius: 6px;
}
.morado{
    background-color: #965FD2;
}
.verde{
    background-color: #AEC868;
    color: #14181B;
}
.azul{
    background-color: #2B76BB;
}
.rojo{
    background-color: #C83544;
}

.cursos{
    margin-top: 100px;
}
.cursos_online{
    padding-top: 20px;
    padding-bottom: 20px;
}
.online_targets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
.online_target{
    background-color: var(--bg-green-gray);
    border-radius: 10px;
    overflow: hidden;
}
.online_target img{
    width: 100%;
}
.online_target_info{
    padding: 5px 20px;
}
.online_target_info h3{
    margin: 10px 0;
    padding: 0;
}
.online_target_info p{
    margin: 10px 0;
    padding: 0;
}

.cursos_live{
    padding: 20px 0;
}
.live_targets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.live_target{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--bg-green-gray);
    border-radius: 10px;
    overflow: hidden;
}
.live_photo{
    grid-column: 1/2;
    background-image: url(./img/photo_live.jpg);
    background-size: cover;
    background-position: center;
}
.live_target_texto{
    grid-column: 2/5;
    padding: 60px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.live_target_encabezado{
    margin-bottom: 20px;
}
.live_target_encabezado h3{
    margin: 0;
}
.live_target_encabezado p{
    margin: 10px 0 0 0;
    padding: 0;
    color: var(--light-green);
}
.live_target_descripcion{
    font-style: italic;
    margin-bottom: 40px;
}
.live_target_texto button{
    width: fit-content;
    background-color: var(--light-green);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--bg-green);
}

.nosotros{
    margin-top: 100px;
}
.nosotros_targets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.nosotros_target{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bg-blue);
}
.nosotros_img{
    grid-column: 1/2;
    background-image: url(./img/we_photo.jpg);
    background-size: cover;
    background-position: center;
}
.nosotros_texto{
    grid-column: 2/5;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nosotros_texto_encabezado{
    margin: 40px 0;
}
.nosotros_texto_encabezado p{
    margin: 0;
    font-size: 12px;

}
.nosotros_texto_encabezado h3{
    margin: 0;
    color: var(--light-green);
}

.contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 100px;
}
.contactos_title h2{
    font-size: 4rem;
}
.contactos_contacto h3{
    margin-bottom: 40px;
}
.contacto-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}
.contacto-item img{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    border-radius: 50%;
}
footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: var(--bg-blue);
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
